
.o-error-layout { // Layouts the main content container within the page

    display: flex;
    justify-content: center;
    height: 100%;
}

.c-figure {
    display: flex;
    justify-content: center;
    max-width: 75%;

    &__image {
        width: 100%;
    }
}

.c-error { // Layouts the inner content
    outline: 1px red solid; 

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading {
        font-size: 2em;
        font-weight: bold;
    }
    &__message{
        font-size: 1.2em;
    }
}

